body {
    background-color: rgb(216, 141, 49);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formulario {
    color: white;
}

.form-group{
    margin: 20px;
}

.btnform {
    margin-top: 20px;
}

.formulário {
    display: flex;
}

.carousel {
    width: 600px;
}

h3 {
    color: rgb(247, 247, 241);
    font-weight: bold;
    text-shadow: black;
}

p {
    text-align: center;
    font-size: larger;
}