body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}
.cgeo {
    color: white;
}

h2 {
    text-align: center;  
    font-weight: bold;
}

.headerbg {
    background-color: #0c0c0c;
}

.width5 {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
}

.navex {
    background-color: #0a0a0a;
}

.footereb {
    font-size: 10px;
}

.buttoneb {
    font-size: 12px;
}