body {
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 25px;
    font-weight: 300;
    background-color: #d8d7ce;
  }
  h1 {
    font-family:Arial, Helvetica, sans-serif;

  }
  .conteiner {
    min-height: 700px;
    max-width: 1024px;
    margin: 0 auto;
    
    padding-top: 80px;
    margin-top: -0.5em; 
  }
  .bg-primary {
    background-color: #000000 !important;
  }
  
  .formulário {
    text-decoration: black;
    margin-left: 3rem;
    margin-top: 5rem;
  }
  .form-control {
    text-decoration: black;
    width: 68px;
    margin: 3px 0;
  }
  .btnform {
    text-decoration: black;
    margin-left: 25rem;
    margin-top: 1rem;
  }